# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
.env

# Flask & Database
instance/
.webassets-cache
*.db
*.sqlite3

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDEs and Editors
.vscode/
.idea/
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Frontend (if applicable)
node_modules/
package-lock.json
